@using VoucherApplication.Models.Enums;
@using VoucherApplication.Models.ViewModels;
@model RedeemVoucherViewModel
@{
}

<h1>Redeem Voucher</h1>
<form method="post" action="Redeem" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="number" class="form-control" asp-for="Id" required>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Service Type</label>
        <select type="text" class="form-control" asp-for="ServiceType" asp-items="@Html.GetEnumSelectList<ServiceType>()" required></select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@{
    if (@ViewBag.Success != null)
    {
        if (@ViewBag.Success)
        {
            <div class="alert alert-success voucer-alert">
                <p>@ViewBag.Message</p>
            </div>
        }
        else
        {
            <div class="alert alert-danger voucer-alert">
                <p>@ViewBag.Message</p>
            </div>
        }
    }
}